@value colors: "../../styles/colors.css";
@value primary from colors;

.container {
  display: block;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid primary;
  padding: 8px;
  margin: 16px 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
}

.container:hover,
.container:focus {
  outline: none;
  background-color: primary;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  transition: all 0.3s ease;
}

.name {
  font-weight: bold;
}
