@value colors: "../../styles/colors.css";
@value primary from colors;

.actionButton {
  background-color: primary;
  border: 1px solid primary;
  border-radius: 5px;
  box-shadow: none;
  color: white;
  padding: 16px;
}

.actionButton:disabled {
  background-color: lightgray;
  pointer-events: none;
}

.actionButton:hover,
.actionButton:focus {
  cursor: pointer;
  outline: none;
  background-color: white;
  color: primary;
  transition: all 0.3s ease;
}
