.container {
  padding: 0 2rem;
  width: 100%;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.listContainer {
  flex-grow: 1;
  margin-right: 24px;
  padding: 0;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
